.contacto{
    width: 100%;
    position: relative;
    background-image: url(../img/imagen-contacto.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .formulario{
        @include tabletMax{
            width: 100%;
        }
        width: 50%;
        padding: 20px;
        background-color: rgba(40, 116, 166, 80%);
        h1{
            color: white!important;
            text-align: center;
            margin: 0;
        }
        p{
            text-align: center;
            font-weight: bold;
            color: white!important;
            font-size: 14px;
        }
        .titulo-contact{
            margin-bottom: 25px;
        }
        .form-group input, .form-group textarea{
            display: block;
            margin-bottom: 25px;
            width: 100%;
            background: none;
            padding: 10px;
            border: none;
            border-bottom: 2px solid white;
            color: white;
            font-size: 1em;
            font-weight: bold;
        }
        .form-group input:focus, .form-group textarea:focus{
            outline: none;
        }
        .form-group label{
            color: white;
            display: block;
            margin-bottom: 10px;
        }
        .inputs{
            @include telefono{
                width: 70%;
            }
            width: 100%;
            margin: 0 auto;
        }
        button[type='submit']{
            background: none;
            color: white;
            text-transform: uppercase;
            padding: 10px 20px;
            border: 2px solid white;
            border-radius: 10px;
            width: 50%;
            margin: 0 auto;
            font-weight: bold;
            cursor: pointer;
            transition: all .6s ease;
          }
          button[type="submit"]:hover{
            background-color: #2874A6;
            color: white;
          }
          button[type="submit"]:focus{
            outline: none;
          }
    }
    .svgContact{
        @include tabletMax{
            display: none;
        }
        position: absolute;
        top: 0;
        left: 50%;
        width: 40%;
    }
}